<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sgq20230912.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/655f857c-38e3-4db7-8d52-626ed56c8c32/resourceGroups/sgq/providers/Microsoft.Web/sites/sgq20230912</ResourceId>
    <UserName>$sgq20230912</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://sgq20230912.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>