@use "@angular/material" as mat;
@use "sass:map";
@include mat.core();

$my-primary: mat.define-palette(mat.$blue-palette, A200, A100, A400);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

$my-high-contrast-primary: mat.define-palette(mat.$grey-palette, 900, 900, 900);
$my-high-contrast-accent: mat.define-palette(mat.$grey-palette, 50, 50, 50);
$my-high-contrast-warn: mat.define-palette(mat.$grey-palette, 50, 50, 50);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);

$my-custom-level: mat.define-typography-level(
  $font-size: 1.5rem,
);

$my-custom-typography: mat.define-typography-config(
  $headline-1: $my-custom-level,
  $headline-2: $my-custom-level,
  $headline-3: $my-custom-level,
  $headline-4: $my-custom-level,
  $headline-5: $my-custom-level,
  $headline-6: $my-custom-level,
  $subtitle-1: $my-custom-level,
  $subtitle-2: $my-custom-level,
  $body-1: $my-custom-level,
  $body-2: $my-custom-level,
  $caption: $my-custom-level,
  $button: $my-custom-level,
  $overline: $my-custom-level,
);

$my-high-contrast-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-high-contrast-primary,
      accent: $my-high-contrast-accent,
      warn: $my-high-contrast-warn,
    ),
    typography: $my-custom-typography,
  )
);

@include mat.all-component-themes($my-theme);

.high-contrast-theme {
  @include mat.all-component-themes($my-high-contrast-theme);

  img {
    filter: contrast(200%);
    border: 2px solid blue;
    background-color: #fff;
  }

  button {
    background-color: #fff !important;
    color: #000 !important;
    border: 2px inset blue !important;
    margin: 5px !important;
    padding: 2px !important;
  }
}
