<div class="box">
  <img class="logo" src="assets/img/SGQ.png" alt="" />

  <div class="spacer"></div>

  <form class="form-box">
    <mat-form-field class="form-el">
      <mat-label>Usuário</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="form-el">
      <mat-label>Senha</mat-label>
      <input matInput type="password" />
    </mat-form-field>
    <button mat-raised-button color="primary" class="form-el">Entrar</button>
    <button mat-stroked-button color="primary" class="form-el">
      Esqueci a senha
    </button>
  </form>
</div>
