.box {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  gap: 10px;
  height: 100vh;
  overflow: auto;
  padding: 10px;
}

.center {
  text-align: center;
  width: 100vw;
}

.checklist-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  gap: 5px;
  overflow: auto;
  padding: 10px;
}

.user-title {
  flex: 1 0 100%;
  text-align: center;
}

.wrapper mat-card {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .wrapper mat-card {
    flex-direction: column;
  }
}

.wrapper mat-card-header {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 5px;
  padding: 15px;
}

.wrapper mat-card-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
